controller:
  name: controller

  ingressClassResource:
    name: nginx-internal
    enabled: true
    default: false
    controllerValue: "k8s.io/ingress-nginx-internal"

  service:
    type: LoadBalancer
    externalTrafficPolicy: Cluster
    annotations:
      metallb.io/address-pool: internal-pool

  publishService:
    enabled: true