apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-ingress-nginx
  namespace: kube-system
spec:
  failurePolicy: reinstall
  valuesContent: |
    controller:
      service:
        enabled: true
        type: LoadBalancer
        externalTrafficPolicy: Local  # Preserve source IP
        annotations:
          metallb.io/loadBalancerIPs: "10.10.30.50"
      publishService:
        enabled: true
      config:
        use-forwarded-headers: "true"
        enable-real-ip: "true"